
<section class="wrapper">

    <div class="head d-flex">
        <h2><img src="../../assets/ico_users.svg" alt=""> Users</h2>
        <div class="ms-auto d-flex align-items-center">
                <div class="searchbar">
                    <input type="text" placeholder="Search...">
                    <button type="button"><img src="../../assets/ico_search.svg" alt=""></button>
                </div>
                <button class="btn">+ add user</button>
        </div>
    </div>

<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">name <img src="../../../assets/ico_sorting.svg" alt="" class="sort"></th>
            <th scope="col">email</th>
            <th scope="col">role type</th>
            <th scope="col">status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">Adiba Alber</td>
                <td>adinaalber@locusnine.com</td>
                <td>Admin</td>
                <td><span class="active"></span> Active</td>
                <td> <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#editModal"><img src="../../assets/ico_edit.svg" alt=""></button> </td>
              </tr>
              <tr>
                <td scope="row">Aline Ash</td>
                <td>aline@locusnine.com</td>
                <td>Customer Executive</td>
                <td><span class="pending"></span> Pending</td>
                <td> <button type="button" class="btn"><img src="../../assets/ico_edit.svg" alt=""></button> </td>
              </tr>
              <tr>
                <td scope="row">Adiba Alber</td>
                <td>aline@locusnine.com</td>
                <td>Admin</td>
                <td><span class="inactive"></span> Inactive</td>
                <td> <button type="button" class="btn"><img src="../../assets/ico_edit.svg" alt=""></button> </td>
              </tr> <tr>
                <td scope="row">Adiba Alber</td>
                <td>adinaalber@locusnine.com</td>
                <td>Admin</td>
                <td><span class="active"></span> Active</td>
                <td> <button type="button" class="btn"><img src="../../assets/ico_edit.svg" alt=""></button> </td>
              </tr>
              <tr>
                <td scope="row">Aline Ash</td>
                <td>aline@locusnine.com</td>
                <td>Customer Executive</td>
                <td><span class="pending"></span> Pending</td>
                <td> <button type="button" class="btn"><img src="../../assets/ico_edit.svg" alt=""></button> </td>
              </tr>
              <tr>
                <td scope="row">Adiba Alber</td>
                <td>aline@locusnine.com</td>
                <td>Admin</td>
                <td><span class="inactive"></span> Inactive</td>
                <td> <button type="button" class="btn"><img src="../../assets/ico_edit.svg" alt=""></button> </td>
              </tr> <tr>
                <td scope="row">Adiba Alber</td>
                <td>adinaalber@locusnine.com</td>
                <td>Admin</td>
                <td><span class="active"></span> Active</td>
                <td> <button type="button" class="btn"><img src="../../assets/ico_edit.svg" alt=""></button> </td>
              </tr>
              <tr>
                <td scope="row">Aline Ash</td>
                <td>aline@locusnine.com</td>
                <td>Customer Executive</td>
                <td><span class="pending"></span> Pending</td>
                <td> <button type="button" class="btn"><img src="../../assets/ico_edit.svg" alt=""></button> </td>
              </tr>
              <tr>
                <td scope="row">Adiba Alber</td>
                <td>aline@locusnine.com</td>
                <td>Admin</td>
                <td><span class="inactive"></span> Inactive</td>
                <td> <button type="button" class="btn"><img src="../../assets/ico_edit.svg" alt=""></button> </td>
              </tr> <tr>
                <td scope="row">Adiba Alber</td>
                <td>adinaalber@locusnine.com</td>
                <td>Admin</td>
                <td><span class="active"></span> Active</td>
                <td> <button type="button" class="btn"><img src="../../assets/ico_edit.svg" alt=""></button> </td>
              </tr>
              <tr>
                <td scope="row">Aline Ash</td>
                <td>aline@locusnine.com</td>
                <td>Customer Executive</td>
                <td><span class="pending"></span> Pending</td>
                <td> <button type="button" class="btn"><img src="../../assets/ico_edit.svg" alt=""></button> </td>
              </tr>
              <tr>
                <td scope="row">Adiba Alber</td>
                <td>aline@locusnine.com</td>
                <td>Admin</td>
                <td><span class="inactive"></span> Inactive</td>
                <td> <button type="button" class="btn"><img src="../../assets/ico_edit.svg" alt=""></button> </td>
              </tr> <tr>
                <td scope="row">Adiba Alber</td>
                <td>adinaalber@locusnine.com</td>
                <td>Admin</td>
                <td><span class="active"></span> Active</td>
                <td> <button type="button" class="btn"><img src="../../assets/ico_edit.svg" alt=""></button> </td>
              </tr>
              <tr>
                <td scope="row">Aline Ash</td>
                <td>aline@locusnine.com</td>
                <td>Customer Executive</td>
                <td><span class="pending"></span> Pending</td>
                <td> <button type="button" class="btn"><img src="../../assets/ico_edit.svg" alt=""></button> </td>
              </tr>
              <tr>
                <td scope="row">Adiba Alber</td>
                <td>aline@locusnine.com</td>
                <td>Admin</td>
                <td><span class="inactive"></span> Inactive</td>
                <td> <button type="button" class="btn"><img src="../../assets/ico_edit.svg" alt=""></button> </td>
              </tr>
        </tbody>
    </table>
</div>

<!--Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Add User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <ul>
                        <li> <input type="radio" name="radio" value="1"> <span></span> Admin</li>
                        <li> <input type="radio" name="radio" value="2"> <span></span> Customer Executive</li>
                    </ul>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="Mobile Number(Optional)">
                </div>

            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Add User</button>
        </div>
      </div>
    </div>
  </div>

</section>